<div class="row">
  <h1 style="text-align:center">Mario Party Stat Tracker</h1>

  <div style="width: 60%; margin: auto;"> 
    <table class="table table-responsive table-bordered table-striped">
      <tbody> 
        <tr>         
          <td>Team Name</td>
          <td># Stars</td>
          <td># Coins</td>
        </tr>
        <tr>
          <td><a href="#" class="username" data-type="text" data-pk="1" data-title="Enter username">Team 1</a></td>
          <td><a href="#" class="stars" data-type="text" data-pk="1" data-title="Enter username">0</a></td>
          <td><a href="#" class="coins" data-type="text" data-pk="1" data-title="Enter username">0</a></td>
        </tr>
        <tr>
          <td><a href="#" class="username" data-type="text" data-pk="1" data-title="Enter username">Team 2</a></td>
          <td><a href="#" class="stars" data-type="text" data-pk="1" data-title="Enter username">0</a></td>
          <td><a href="#" class="coins" data-type="text" data-pk="1" data-title="Enter username">0</a></td>
        </tr>
        <tr>
          <td><a href="#" class="username" data-type="text" data-pk="1" data-title="Enter username">Team 3</a></td>
          <td><a href="#" class="stars" data-type="text" data-pk="1" data-title="Enter username">0</a></td>
          <td><a href="#" class="coins" data-type="text" data-pk="1" data-title="Enter username">0</a></td>
        </tr>
        <tr>
          <td><a href="#" class="username" data-type="text" data-pk="1" data-title="Enter username">Team 4</a></td>
          <td><a href="#" class="stars" data-type="text" data-pk="1" data-title="Enter username">0</a></td>
          <td><a href="#" class="coins" data-type="text" data-pk="1" data-title="Enter username">0</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>